*__pycache__
workdir/spice/*.csv
workdir/spice/*.txt
*.log
*.raw
*.net
fort.40
garfield.metafile*
*_bak
*.pdf
.*
CELL.txt
DRIFT.txt
FIELD.txt
GAS.txt
MAGNETIC.txt
*.root
workdir/unneccessary_stuff/
workdir/LTspiceXVII/
garfield_in.txt
*_tmp
*.pickle
*.svg
