[submodule "workdir/python_modules/AWG70002A_scripts"]
	path = workdir/python_modules/AWG70002A_scripts
	url = https://github.com/acidbourbon/AWG70002A_scripts
[submodule "workdir/python_modules/numpy_ltspice_filter"]
	path = workdir/python_modules/numpy_ltspice_filter
	url = https://github.com/acidbourbon/numpy_ltspice_filter
[submodule "workdir/python_modules/lecroy_WR620ZI"]
	path = workdir/python_modules/lecroy_WR620ZI
	url = https://github.com/acidbourbon/lecroy_WR620ZI
[submodule "workdir/python_modules/M8195A_scripts"]
	path = workdir/python_modules/M8195A_scripts
	url = https://github.com/acidbourbon/M8195A_scripts
[submodule "workdir/python_modules/kilom_spi"]
	path = workdir/python_modules/kilom_spi
	url = https://github.com/hennomann/kilom_spi
